@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="../../unslider-master/dist/css/unslider.css">
<link rel="stylesheet" href="../../unslider-master/dist/css/unslider-dots.css 
">*@



    <img class="image-main" src="~/Content/images/main.jpg" />


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@



@*<div class="my-slider">
    <ul>
        <li class="instagram"><img class="image" src="~/Content/images/instagram.jpeg" /></li>

        <li><img class="image" src="~/Content/images/adamback.jpg" /></li>

        <li><img class="image" src="~/Content/images/kly.jpg" /></li>

        <li><img class="image" src="~/Content/images/kamback.jpg" /></li>

        <li><img class="image" src="~/Content/images/tea.png" /></li>
    </ul>
</div>


<script src="../../Scripts/jquery-3.1.1.min.js"></script>

<script src="../../unslider-master/src/js/unslider.js"></script>
<script>
		jQuery(document).ready(function($) {
		    $('.my-slider').unslider({
		        autoplay: true
		    });
		});
</script>*@

@*<div class="col-md-3">
    <div>
      <img class="image" src="~/Content/images/Jasback(2).jpg" />
    </div>
    <div>
       <img class="image" src="~/Content/images/kamback.jpg" />
    </div>
    <div>
    <img class="image" src="~/Content/images/Mercback.jpg" />
    </div>
</div>
<div class="col-md-3">
    <div class="row">
        <div>
            <img class="image" src="~/Content/images/adamback.jpg" />
        </div>
        <div>
            <img class="image" src="~/Content/images/Jelback.jpg" />
        </div>
        <div>
            <img class="image" src="~/Content/images/kly.jpg" />
        </div>
    </div>
</div>
<div class="col-md-3">
    <div>
        <img class="image" src="~/Content/images/Jasback(2).jpg" />
    </div>
    <div>
        <img class="image" src="~/Content/images/kamback.jpg" />
    </div>
    <div>
        <img class="image" src="~/Content/images/Mercback.jpg" />
    </div>
</div><div class="col-md-3">
    <div class="row">
        <div>
            <img class="image" src="~/Content/images/adamback.jpg" />
        </div>
        <div>
            <img class="image" src="~/Content/images/Jelback.jpg" />
        </div>
        <div>
            <img class="image" src="~/Content/images/kly.jpg" />
        </div>
    </div>
</div>*@